# Magic Methods

* *Magic Method*'ları kullanarak bazı built-in davranışları değiştirebiliriz. Magic Method'lar ___ ile çevrilidir. Bunlara dunder method da denir.

In [3]:
class Employee:

    raise_percent = 1.05
    num_emp = 0

    def __init__(self, name, last, age, pay):
        self.name = name
        self.last = last
        self.age = age
        self.pay = pay
        Employee.num_emp += 1

    def apply_raise(self):
        self.pay = self.pay * self.raise_percent

In [4]:
emp_1 = Employee("James", "Hughes", "32", 5000)

In [5]:
emp_2 = Employee("Charlie", "Brown", "22", 3000)

# ____init____()

emp_1 = Employee("James",...) gibi class'dan obje oluşturma kısmında çağrılır. Class(...) formatında input olarak verilenleri argüman olarak kendine alır.

# __str__()

* Objenin okunabilir bir tanımını oluştururuz.

In [1]:
class Employee:

    raise_percent = 1.05
    num_emp = 0

    def __init__(self, name, last, age, pay):
        self.name = name
        self.last = last
        self.age = age
        self.pay = pay
        Employee.num_emp += 1

    def apply_raise(self):
        self.pay = self.pay * self.raise_percent

    def __str__(self):
        return f"Employee(name={self.name}, last={self.last}, age={self.age}, pay={self.pay})"

In [2]:
emp_1 = Employee("James", "Hughes", "32", 5000)

In [3]:
print(emp_1)

Employee(name=James, last=Hughes, age=32, pay=5000)

# __add__()

In [4]:
class Employee:

    raise_percent = 1.05
    num_emp = 0

    def __init__(self, name, last, age, pay):
        self.name = name
        self.last = last
        self.age = age
        self.pay = pay
        Employee.num_emp += 1

    def apply_raise(self):
        self.pay = self.pay * self.raise_percent

    def __str__(self):
        return f"Employee(name={self.name}, last={self.last}, age={self.age}, pay={self.pay})"

    def __add__(self, other):
        return self.pay + other.pay

In [5]:
emp_1 = Employee("James", "Hughes", "32", 5000)

In [6]:
emp_2 = Employee("Charlie", "Brown", "22", 3000)

In [7]:
emp_1 + emp_2

8000

# __len__()

In [9]:
class Employee:

    raise_percent = 1.05
    num_emp = 0

    def __init__(self, name, last, age, pay):
        self.name = name
        self.last = last
        self.age = age
        self.pay = pay
        Employee.num_emp += 1

    def apply_raise(self):
        self.pay = self.pay * self.raise_percent

    def __str__(self):
        return f"Employee(name={self.name}, last={self.last}, age={self.age}, pay={self.pay})"

    def __add__(self, other):
        return self.pay + other.pay

    def __len__(self):
        return len(self.name)

In [10]:
emp_1 = Employee("James", "Hughes", "32", 5000)

In [11]:
emp_2 = Employee("Charlie", "Brown", "22", 3000)

In [12]:
len(emp_1)

5

In [13]:
len(emp_2)

7