# Class Tanımlamak

* Fonksiyonlarda belli bir fonksiyonalite ifade eden kodları bir araya getirmeyi görmüştük. Class mantığında hem fonksiyonalite hem de veriyi bir arada tutma yoluna bakacağız.

* Class'ın içerisindeki verilere(datalara) **atribute**, fonksiyonlara **method** diyeceğiz.

* Diyelim ki bir iş yeri çalışanları kodumuzda ifade etmek istiyoruz. Sanki bu **class** mantığı ile uyulu. Her çalışanın farklı farklı özellikleri (attributeları) ve yaptıkları şeyler (methodları) olacak.

* Fonksiyon tanımlarken **def** kullanıyorduk, class oluştururken **class** ile tanımlayacağız.

* Class'ın içerisinde method oluştururken, classtan oluşan objeyi methodlar ilk argüman olarak alırlar. İstediğimiz adı verebiliriz ama genellikle **self** diye geçer.

# Attribute

In [1]:
class Employee:

SyntaxError: incomplete input (3505898793.py, line 1)

In [2]:
class Employee:
    pass

In [3]:
e = Employee()

In [4]:
# e objesine "a" attribute'u ekledik.
e.a = 4

In [5]:
e.a

4

* Böyle tek tek belirtmek yerine en başta oluştururken de attribute'ları verebiliriz.

In [10]:
class Employee:
    def __init__(self, name, last, age, pay):
        self.name = name
        self.last = last
        self.age = age
        self.pay = pay

* Class sadece bunlardan **obje**ler oluşturmak için bir kalıptır

In [12]:
emp_1 = Employee("James", "Hughes", "32" , 5000)

In [13]:
emp_2 = Employee("Charlie", "Brown", "22", 3000)

In [14]:
emp_1.name

'James'

* Burada oluşturduğumuz bütün attributelar **instance variable**. Her obje (classtan oluşan instance) kendine özel attribute'a sahip (iki kişinin adı aynı olabilir, ama hepsi için ayrı bir variable var ve hepsi kendi *age* attribute'unda tutuyor.)

# Method

In [15]:
class Employee:
    def __init__(self, name, last, age, pay):
        self.name = name
        self.last = last
        self.age = age
        self.pay = pay

    def fullname(self):
        print(f"{self.name} {self.last}")

In [16]:
emp_1 = Employee("James", "Hughes", "32" , 5000)

In [17]:
emp_2 = Employee("Charlie", "Brown", "22", 3000)

In [18]:
emp_1.fullname()

James Hughes

In [19]:
emp_2.fullname()

Charlie Brown

*self* otomatik olarak aktarılıyor demiştik, eğer *self*i arguman olarak vermezsek:

In [21]:
class Employee:
    def __init__(self, name, last, age, pay):
        self.name = name
        self.last = last
        self.age = age
        self.pay = pay

    def fullname():
        print(f"{self.name} {self.last}")

In [22]:
emp_1 = Employee("James", "Hughes", "32" , 5000)

In [23]:
emp_2 = Employee("Charlie", "Brown", "22", 3000)

In [24]:
emp_1.fullname()

TypeError: Employee.fullname() takes 0 positional arguments but 1 was given

**self** otomatik olarak verildiği için method tanımında onu belirtmezsek hata alıyoruz.